<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar publicacao</title>
</head>
<style>
    * {
        padding: 0px;
        margin: 0px;
    }
</style>
<body>
    <header>
        <a href="#deseja_voltar">Voltar</a>
    </header>

    <main>
        <h1></h1>

        <div id="criar" class="div_criar">
            <span>+</span>
        </div>
    </main>

    <div id="deseja_voltar" class="modal">
        <div>
            <a href="#fechar" title="fechar" class="fechar"></a>
            <h2>Deseja mesmo sair?</h2>
            <p>Voltar irá excluir todo o seu progresso nesta página.</p>
            <p><button>Cancelar</button><button>Sim</button></p>
        </div>
    </div>
    <footer></footer>
</body>
</html>