<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDZADA</title>
</head>
<body>
    <h2>Registrar<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Sobrenome" name="surname">
        <select name="select1" id="opa">
            <option value="opa1">opa1</option>
            <option value="opa2">opa2</option>
            <option value="opa2">opa2</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>