<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDZADA</title>
</head>
<body>
    <form action="/hyundai" method="get">
        <input type="text" name="inp" id="inp">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>