<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
    }
    #loading {
        position: fixed;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: #fff;
    }
    #tudo {
        display: none;
    }
</style>
<body>
    <div id="loading"></div>
    <div id="tudo">
        <header>
            <form action="/pesquisa" method="get">
                <div role="group">
                    <input type="text" name="q">
                    <button type="submit">Pesquisar</button>
                </div>
            </form>
            <ul>
                <li><a href="/espec_publicacao">Criar publicação</a></li>
                <li><a href="">login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </header>
        <main>
    
            <table>
                <tbody id="dados"></tbody>
            </table>
            <div>
                <button id="btn_load_more">Mostrar mais</button>
            </div>
        </main>
        <footer></footer>
    </div>
<script>

    const dados = <%- JSON.stringify(dados)%>;
    var cont_dados = 10;
    var travar = false;
    console.log(cont_dados);
    if (dados.length < cont_dados) carregar10(0,dados.length);
    else carregar10(0,cont_dados);

    $("#btn_load_more").click(()=>{
        if (travar) return console.log("travar " + travar);
        if ((cont_dados+10)>=dados.length) {
            carregar10(cont_dados,dados.length);
            travar = true;
            return;
        }
        carregar10(cont_dados,(cont_dados+10));
        cont_dados+=10;
        console.log(cont_dados);
    });

    function carregar10(i,j) {
        for(var i;i < j;i++){
            createElement(dados[i].nome_public,dados[i].bpm_table,dados[i].nome_banda,dados[i].up,dados[i]._id);
        }
    }
    function createElement(nome_public,bpm_table,nome_banda,up,id) {
        let tbody_pai = document.getElementById('dados');

        let tr = document.createElement('tr');
        let div = document.createElement('div');
        let input = document.createElement('input');
        input.type = "checkbox";
        input.name = "checks";
        input.className = "check_required";
        input.id = id;
        input.addEventListener('click',e=>{
            like(input.id);
        }, false);

        let table = document.createElement('table');
        let tbody = document.createElement('tbody');
        let tr2 = document.createElement('tr');
        let tr22 = document.createElement('tr');
        let td = document.createElement('td');
        let td2 = document.createElement('td');
        let td1 = document.createElement('td');
        let td12 = document.createElement('td');
        let h3 = document.createElement('h3');
        h3.innerHTML = nome_public;

        let h4 = document.createElement('h4');
        h4.innerHTML = bpm_table;

        let h41 = document.createElement('h4');
        h41.innerHTML = nome_banda;

        let h412 = document.createElement('h4');
        h412.innerHTML = up;

        div.appendChild(input)
        tr.appendChild(div);

        td.appendChild(h3)
        tr2.appendChild(td);
        td2.appendChild(h4)
        tr2.appendChild(td2);
        tbody.appendChild(tr2);
        td1.appendChild(h41);
        tr22.appendChild(td1);
        td12.appendChild(h412)
        tr22.appendChild(td12);
        tbody.appendChild(tr22);
        table.appendChild(tbody);
        table.addEventListener('click',e=>{
            irpara(nome_public,id)
        },false);
        tr.appendChild(table);
        tbody_pai.appendChild(tr);
    }

    function irpara(nome,id) {
        window.location.href = ('/view_publicacao/'+nome+'/'+id);
    }

    function like(id) {
        console.log(id);
        console.log($('#'+id)[0].checked);

        $.post('/like', {
            id: id,
            param: $('#'+id)[0].checked
        }).always(()=>{
            console.log('foi');
        });
    }

    $(window).on('load',()=>{
        $('#loading').fadeOut('slow');
        $('#tudo').toggle('fast');
    });
</script>
</body>
</html>